@import "@maizzle/tailwindcss";

@theme {
  --color-adidas-black: #0a0a0a;
  --color-adidas-white: #ffffff;
  --color-adidas-light-gray: #f3f3f3;
  --color-adidas-medium-gray: #cacaca;
  --color-adidas-dark-gray: #8a8a8a;
  --color-adidas-primary: #2199e8;

  --font-family-roboto: "Roboto", Helvetica, Arial, sans-serif;
  --font-family-roboto-condensed: "Roboto Condensed", Helvetica, Arial, sans-serif;
  --font-family-open-sans: "Open Sans", Helvetica, Arial, sans-serif;
  --font-family-rubik: "Rubik", Helvetica, Arial, sans-serif;

  --color-glens-cream: #F6F4D8;
  --color-glens-green: #236026;
  --color-glens-black: #0a0a0a;
  --color-glens-medium-gray: #cacaca;

  --font-family-libre-franklin: "Libre Franklin", Helvetica, Arial, sans-serif;

  --color-cava-black: #0a0a0a;
  --color-cava-white: #fefefe;
  --color-cava-light-gray: #f3f3f3;
  --color-cava-medium-gray: #656565;
  --color-cava-orange: #FFB134;

  --font-family-cava-serif: Georgia, "Times New Roman", Times, serif;
}

.text-left {
  text-align: left;
}
